<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buyCount</key>
		<string>32</string>
		<key>icon</key>
		<string>37e4761e6ecf56a2d78685df7157f097.png</string>
		<key>price</key>
		<string>98</string>
		<key>title</key>
		<string>味妙烤鱼吧</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>5ee372ff039073317a49af5442748071.png</string>
		<key>price</key>
		<string>128</string>
		<key>title</key>
		<string>桃园酒家</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>2c97690e72365e38e3e2a95b934b8dd2.png</string>
		<key>price</key>
		<string>88</string>
		<key>title</key>
		<string>俏巴蜀</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>11</string>
		<key>icon</key>
		<string>9b437cdfb3e3b542b5917ce2e9a74890.png</string>
		<key>price</key>
		<string>39</string>
		<key>title</key>
		<string>蜜语芭蕾休闲西餐厅</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>a5f46774487027f73ddb35dbb6e5a41c.png</string>
		<key>price</key>
		<string>108</string>
		<key>title</key>
		<string>Grinders 西餐酒吧</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>2010e3a0c7f88c3f5f5803bf66addd93.png</string>
		<key>price</key>
		<string>58</string>
		<key>title</key>
		<string>昆达理尼瑜伽馆黄金殿</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>eb83ba2a2bf3098e324350ce88d6b862.png</string>
		<key>price</key>
		<string>999</string>
		<key>title</key>
		<string>正院大宅门</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>d40878ee9d97a53bd4b8778daa11d38d.png</string>
		<key>price</key>
		<string>78</string>
		<key>title</key>
		<string>江边码头烤鱼</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1094</string>
		<key>icon</key>
		<string>97726b804a2558308098bd59edc833fa.png</string>
		<key>price</key>
		<string>85.5</string>
		<key>title</key>
		<string>将太无二</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>7003217f16ed29bab85e635a3bd6b60d.png</string>
		<key>price</key>
		<string>128</string>
		<key>title</key>
		<string>巴蜀轩烤鱼专家</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>a6c484045581f45e50db68e4f5dc734c.png</string>
		<key>price</key>
		<string>318</string>
		<key>title</key>
		<string>金色阳光俱乐部</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>150</string>
		<key>icon</key>
		<string>3714230523e78c839947694f3e97f0a5.png</string>
		<key>price</key>
		<string>79</string>
		<key>title</key>
		<string>川军本色/龙人居酒楼</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>53453be0d2dd458c057286d17f6b9306.png</string>
		<key>price</key>
		<string>228</string>
		<key>title</key>
		<string>V SPORTS运动餐吧</string>
	</dict>
</array>
</plist>
