<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>北京中关村好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>北京中关村好友-0</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>北京中关村好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>北京中关村好友-1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>北京中关村好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>北京中关村好友-2</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>北京中关村好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>北京中关村好友-3</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>北京中关村好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>北京中关村好友-4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>北京中关村好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>北京中关村好友-5</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>北京中关村好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>北京中关村好友-6</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>北京中关村好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>北京中关村好友-7</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>北京中关村好友-8的个性签名就是这么拽</string>
				<key>name</key>
				<string>北京中关村好友-8</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>北京中关村-9的个性签名就是这么拽</string>
				<key>name</key>
				<string>北京中关村-9</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>北京中关村</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>武汉硅谷好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>武汉硅谷好友-0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>武汉硅谷好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>武汉硅谷好友-1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>武汉硅谷好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>武汉硅谷好友-2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>武汉硅谷好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>武汉硅谷好友-3</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>武汉硅谷好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>武汉硅谷好友-4</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>武汉硅谷</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>广州科韵路软件园好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>广州科韵路软件园好友-0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>广州科韵路软件园好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>广州科韵路软件园好友-1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>广州科韵路软件园好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>广州科韵路软件园好友-2</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>广州科韵路软件园好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>广州科韵路软件园好友-3</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>广州科韵路软件园好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>广州科韵路软件园好友-4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>广州科韵路软件园好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>广州科韵路软件园好友-5</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>广州科韵路软件园好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>广州科韵路软件园好友-6</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>广州科韵路软件园好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>广州科韵路软件园好友-7</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>广州科韵路软件园</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-3</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-5</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-6</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-7</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-8的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-8</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-9的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-9</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>好友-10的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-10</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-11的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-11</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-12的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-12</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-13的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-13</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>深圳南山科技园好友-14的个性签名就是这么拽</string>
				<key>name</key>
				<string>深圳南山科技园好友-14</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>深圳南山科技园</string>
		<key>online</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园-2</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-3</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-4</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-5</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-6</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-7</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-8的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-8</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-9的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-9</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-10的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-10</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-11的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-11</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-12的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-12</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-13的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-13</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-14的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-14</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-15的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-15</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-16的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-16</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-17的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-17</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-18的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-18</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-19的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-19</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-20的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-20</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-21的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-21</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-22的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-22</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-23的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-23</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-24的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-24</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>成都天府软件园好友-25的个性签名就是这么拽</string>
				<key>name</key>
				<string>成都天府软件园好友-25</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>成都天府软件园</string>
		<key>online</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>郑州863中部软件园好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>郑州863中部软件园好友-0</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>郑州863中部软件园好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>郑州863中部软件园好友-1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>郑州863中部软件园好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>郑州863中部软件园好友-2</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>郑州863中部软件园好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>郑州863中部软件园好友-3</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>郑州863中部软件园好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>郑州863中部软件园好友-4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>郑州863中部软件园好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>郑州863中部软件园好友-5</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>郑州863中部软件园好友-10的个性签名就是这么拽</string>
				<key>name</key>
				<string>郑州863中部软件园好友-10</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>郑州863中部软件园</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>上海天地软件园好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>上海天地软件园好友-0</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>上海天地软件园好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>上海天地软件园好友-1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>上海天地软件园好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>上海天地软件园好友-2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>上海天地软件园</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>大连天地软件园好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>大连天地软件园好友-0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>大连天地软件园好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>大连天地软件园好友-1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>大连天地软件园好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>大连天地软件园好友-2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>大连天地软件园好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>大连天地软件园好友-3</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>大连天地软件园好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>大连天地软件园好友-4</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>大连天地软件园好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-7</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>大连天地软件园好友-8的个性签名就是这么拽</string>
				<key>name</key>
				<string>大连天地软件园好友-8</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>大连天地软件园好友-9的个性签名就是这么拽</string>
				<key>name</key>
				<string>大连天地软件园好友-9</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>大连天地软件园好友-10的个性签名就是这么拽</string>
				<key>name</key>
				<string>大连天地软件园好友-10</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>大连天地软件园好友-11的个性签名就是这么拽</string>
				<key>name</key>
				<string>大连天地软件园好友-11</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>大连天地软件园</string>
		<key>online</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>杭州阿里好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>杭州阿里好友-0</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>杭州阿里好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>杭州阿里好友-1</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>杭州阿里好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>杭州阿里好友-2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>杭州阿里好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>杭州阿里好友-3</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>杭州阿里好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>杭州阿里好友-4</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>杭州阿里好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>杭州阿里好友-5</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>杭州阿里人</string>
		<key>online</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>美国硅谷好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>美国硅谷好友-0</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>美国硅谷好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>美国硅谷好友-1</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>美国硅谷好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>美国硅谷好友-2</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>美国硅谷好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>美国硅谷好友-3</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>美国硅谷好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>美国硅谷好友-4</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>美国硅谷好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>美国硅谷好友-5</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>美国硅谷好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>美国硅谷好友-6</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>美国硅谷</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>我就是这么有钱</string>
				<key>name</key>
				<string>马云</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>我就是这么有钱</string>
				<key>name</key>
				<string>麻花藤</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>我就是这么有钱</string>
				<key>name</key>
				<string>李开复</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>我就是这么有钱</string>
				<key>name</key>
				<string>李彦宏</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>我就是这么有钱</string>
				<key>name</key>
				<string>雷军</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>年薪200w以上的</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
